@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "react-responsive-modal/styles.css";
$main-blue: #4f86c6;
$main-green: #23a455;
$main-red: #ff5964;
$main-bg-color: #f1f5f9;
$sidebar-bg-color: #0c1e35;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 25px;
$sidebar-width: 170px !default;

@import "~react-pro-sidebar/dist/scss/styles.scss";
body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: "Roboto";
  overflow: hidden;
  background-color: $main-bg-color;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  max-height: 100vh;
  display: flex;
  position: relative;
  .pro-sidebar {
    height: 100vh;
    z-index: 50;
  }
  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      transition: width 0.3s;
      width: 150px;
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      line-height: 40px;
      padding: 0;
    }
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    header {
      position: sticky;
      max-height: 35px;
      min-height: 35px;
      background-color: $sidebar-bg-color;
      padding: 10px;
      display: flex;
      // margin-bottom: 10px;
      border-bottom: 1px solid #efefef;
      // border-left: 1px solid rgba(179, 184, 212, 0.2);
      h1 {
        display: flex;
        align-items: center;
        transform: translateX(-20px);
      }
    }
    .content {
      overflow-y: auto;
      padding: 20px;
    }
    footer {
      background-color: #fff;
      margin-top: auto;
      color: #888;
      text-align: center;
      a {
        text-decoration: none;
        color: #888;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .social-bagdes {
    margin-top: 10px;
    img {
      margin: 5px;
    }
  }

  .block {
    display: flex;
    margin-bottom: 24px;
    font-size: 14px;
    color: #545454;
    > span {
      margin-left: 10px;
    }
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    header {
      h1 {
        font-size: 24px;
      }
    }
  }
  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }

    &.rtl {
      .btn-toggle {
        margin-left: auto;
      }
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;
  &.red {
    color: #ffffff;
    background: #d63030;
  }
  &.gray {
    color: #ffffff;
    background: #777777;
  }
  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.item {
  flex-basis: 100%;
  -ms-flex: auto;
  flex: auto;
  width: 259px;
  position: relative;
  box-sizing: border-box;
  overflow-x: visible;
}

@media (min-width: 815px) {
  .item {
    flex-basis: 50%;
  }
}

.inputs {
  flex-basis: 35%;
  margin-right: 20px;
}

.center {
  text-align: center;
}

.field {
  pointer-events: auto;
  font: inherit;
  vertical-align: baseline;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  background: #fafafa;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
  overflow: hidden;
  text-transform: none;
  line-height: 1.5;
  box-shadow: inherit;
  outline: 0;
  letter-spacing: 0px;
  text-align: left;
  color: #666;
  background-color: #fff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 1px 1px 1px 1px;
  border-color: #bbb;
  padding: 0px 10px 0px 10px;
  height: 40px;
  width: 150px;
}

.input-dollar {
  position: relative;
}
.input-dollar.left input {
  padding-left: 18px;
}

.input-dollar:before {
  position: absolute;
  top: 0;
  content: "$";
}
.input-dollar.left:before {
  top: -3px;
  left: 7px;
}

.table-wrapper {
  width: 100%;
  max-height: 350px;
  overflow-y: scroll;
  background-color: $main-bg-color;
  table {
    width: 100%;
  }
  thead {
    text-align: left;
  }
  th {
    cursor: pointer;

    position: sticky;
    padding: 0px;
    z-index: 2;
    top: -1px;
  }
  tbody {
    margin-top: 30px;
  }
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 7px;
  margin-bottom: 7px;
  cursor: pointer;
  /* font-size: 1.25rem; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input,
select {
  text-align: center;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border: 0 solid;
  font-family: inherit;
  appearance: none;
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  font-size: 0.875rem;
  border-radius: 0.25rem;
  border-color: rgb(226, 232, 240);
  padding: 0.5rem 0.75rem;
  line-height: 1.25rem;
  padding-left: 1rem;
  font-weight: 500;
  color: rgb(57, 67, 80);
  cursor: pointer;
}

button {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border: 0 solid;
  font-family: inherit;
  margin: 5px;
  text-transform: none;
  -webkit-appearance: button;
  background-image: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: transparent;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.5rem 0.625rem;
  background-color: $main-blue;
  color: rgb(255, 255, 255);
}
.green-button {
  background-color: $main-green;
  margin: 0px;
}
.red-button {
  background-color: $main-red;
  margin: 0px;
}

button:hover {
  filter: brightness(95%);
  /* opacity: 0.85; */
}

.customModal {
  width:80%;
}

.add-asset-form {
  text-align: center;
  font-weight: bold;
  display: grid;
  grid: auto;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  input, select {
    margin-top: 10px;
  }
}
