$main-blue: #4f86c6;
$main-green: #23a455;
$main-red: #ff5964;
$main-bg-color: #f1f5f9;
$sidebar-bg-color: #0c1e35;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 25px;
$sidebar-width: 170px !default;
$main-font-color: #353535;
